:root {
  --background-color: #fff;
  --text-color: #333;
  --text-heading-color: #000;
  --text-emphasis-color: #900;
  --text-link-color: #5a5cd2;
  --horizontal-line-color: #ddd;
  --summary-arrow-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #171717;
    --text-color: #cecece;
    --text-heading-color: #fff;
    --text-emphasis-color: #e11246;
    --text-link-color: #4b71ff;
    --horizontal-line-color: #373737;
    --summary-arrow-color: #fff;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: auto;
  max-width: calc(1200rem / 16);
  padding: calc(25rem / 16);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

header, section {
  margin-bottom: calc(20rem / 16);
}

h1, h2, h3 {
  font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--text-heading-color);
  margin-bottom: calc(10rem / 16);
}

h1 {
  font-weight: 400;
  font-size: clamp(1.5rem, 3vw, 3.5rem);
  margin-left: calc(-10rem / 16);
}

h1 + p {
  font-size: calc(18rem / 16);
  font-style: italic;
}

h2 {
  font-size: calc(20rem / 16);
}

h3 {
  font-size: calc(15rem / 16);
  margin-top: calc(10rem / 16);
}

p, a, li {
  font-family: Georgia, serif;
  font-size: calc(16rem / 16);
  color: var(--text-color);
  max-width: calc(800rem / 16);
}

p {
  line-height: 1.5;
  margin-bottom: calc(15rem / 16);
}

p strong {
  color: var(--text-emphasis-color);
}

a {
  color: var(--text-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding: 0;
  list-style-type: circle;
}

ul > li {
  line-height: 1.7;
  margin-left: calc(30rem / 16);
}

hr {
  width: 50vw;
  max-width: calc(100rem / 16);
  margin: calc(20rem / 16) 0 calc(30rem / 16) 0;
  border-bottom: calc(1rem / 16) solid var(--horizontal-line-color);
  border-top: none;
}

summary::-webkit-details-marker {
  color: var(--summary-arrow-color);
}

