:root {
  --background-color: #fff;
  --text-color: #333;
  --text-heading-color: #000;
  --text-emphasis-color: #900;
  --text-link-color: #5a5cd2;
  --horizontal-line-color: #ddd;
  --summary-arrow-color: #333;
  --blockquote-color: rgba(0, 0, 0, 0.05);
  --blockquote-line-color: #aaa;
  --inline-code-background: #c3ddf9;
  --code-color: #161d52;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #171717;
    --text-color: #cecece;
    --text-heading-color: #fff;
    --text-emphasis-color: #e11246;
    --text-link-color: #99afff;
    --horizontal-line-color: #373737;
    --summary-arrow-color: #fff;
    --blockquote-color: rgba(255, 255, 255, 0.05);
    --blockquote-line-color: #aaa;
    --inline-code-background: #2c2f47;
    --code-color: #bee1f5;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: auto;
  max-width: calc(1200rem / 16);
  padding: calc(25rem / 16);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

header,
section {
  margin-bottom: calc(20rem / 16);
}

main {
  max-width: 800px;
}

h1,
h2,
h3 {
  font-family: system-ui, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--text-heading-color);
  margin-bottom: calc(10rem / 16);
}

h1 {
  font-weight: 400;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
}

h1 + p {
  font-size: calc(18rem / 16);
  font-style: italic;
  margin: 2rem 0;
}

h2 {
  font-size: calc(20rem / 16);
  margin-top: calc(25rem / 16);
}

h3 {
  font-size: calc(15rem / 16);
  margin-top: calc(10rem / 16);
}

p,
a,
li {
  font-family: Georgia, serif;
  font-size: calc(16rem / 16);
  color: var(--text-color);
  max-width: calc(800rem / 16);
}

p {
  line-height: 1.5;
  margin-bottom: calc(15rem / 16);
}

p strong {
  color: var(--text-emphasis-color);
}

a {
  color: var(--text-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-decoration-skip: ink;
}

ul {
  padding: 0;
  list-style-type: circle;
}

ul > li {
  line-height: 1.7;
  margin-left: calc(30rem / 16);
}

hr {
  width: 50vw;
  max-width: calc(100rem / 16);
  margin: calc(20rem / 16) 0 calc(30rem / 16) 0;
  border-bottom: calc(1rem / 16) solid var(--horizontal-line-color);
  border-top: none;
}

summary::-webkit-details-marker {
  color: var(--summary-arrow-color);
}

blockquote {
  background-color: var(--blockquote-color);
  border-left: 0.5rem solid var(--blockquote-line-color);
  padding: 1rem 1rem 1px 1rem;
  margin: 1rem 0;
}

.twitter-tweet {
  border-left: 0.5rem solid #55acee;
  padding: 1rem;
  overflow: hidden;
}

p > code,
figcaption > code {
  background: var(--inline-code-background);
  color: var(--code-color);
  border-radius: 4px;
  padding: 1px 2px;
  font-weight: bold;
  font-family: monospace;
}

p > a {
  text-overflow: ellipsis;
}

.image-group-figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
}

.image-group-figure > figure {
  width: 100%;
  margin-bottom: 25px;
}

.image-group-figure figure > img,
.image-group-figure figure > video {
  width: 100%;
  max-width: 320px;
  border: 1px dashed var(--horizontal-line-color);
}

.image-group-figure figure > figcaption {
  text-align: center;
  font-size: calc(14rem / 16);
  color: var(--text-color);
  margin-top: 5px;
}

@media screen and (min-width: 30em) {
  .image-group-figure {
    flex-direction: row;
  }
  .image-group-figure > figure {
    width: 50%;
  }
}

.footnotes li:target a:first-of-type {
  background-color: rgb(255, 240, 107);
  color: #000;
}
